*{
    margin:0; auto
    font-family: 微軟正黑體;
    color:#333;

}

#card{
    width: 600px;
    height: 400px;
    margin:100px auto 200px ;
    padding: 50px auto 100px;
    border-radius: 3px;
    box-shadow: 4px 4px 14px rgba(31, 31, 31, 0.459);
    background-image: url(https://images.unsplash.com/photo-1609001066786-7184a70da1f8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80);
    
}

